.container {
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 10px;
  /* background-color: #ec3939; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: sans-serif;
}

.step-indicator {
  font-size: 14px;
  color: #777;
  margin-bottom: 10px;
}

h2 {
  margin-top: 0;
  font-size: 24px;
  color: #333;
}

p {
  color: #555;
  font-size: 16px;
}

.input-group {
  margin: 20px 0;
}

input[type="text"] {
  width: 90%;
  padding: 12px;
  border: 1px solid #555;
  border-radius: 8px;
  font-size: 16px;
}

button {
  color: white;
  margin-top: 20px; 
  background-color: black;
  padding: 16px 30px; 
  font-size: 18px;  
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;         
}