.container {
  max-width: 400px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 10px;
  background-color: #ec3939;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: sans-serif;
}

.step-indicator {
  font-size: 14px;
  color: #777;
  margin-bottom: 10px;
}

h2 {
  margin-top: 0;
  font-size: 24px;
  color: #333;
}

p {
  color: #555;
  font-size: 16px;
}

.input-group {
  margin: 20px 0;
}

input[type="text"] {
  width: 80%;
  padding: 12px;
  border: 1px solid #da1f6d;
  border-radius: 8px;
  font-size: 16px;
}

button {
  background-color: #d5ddc8;
  color: rgb(38, 192, 89);
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #45a049;
}
